<footer class="blog-footer">
  <div class="container">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %> <a href="http://www.beian.miit.gov.cn" target="_blank"><%= config.beian %></a><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>, <a href="https://github.com/cgmartin/hexo-theme-bootstrap-blog" target="_blank">bootstrap-blog</a>
    </div>
  </div>
</footer>
